In [1]:
from pyspark.sql import SparkSession, Row
from pyspark import SparkConf, SparkContext
import os
import pandas as pd
#os.environ['SPARK_HOME']="C:/Users/321ni/spark-2.4.3-bin-hadoop2.7/"
os.environ['PYSPARK_DRIVER_PYTHON']='jupyter'
#os.environ['PYSPARK_DRIVER_PYTHON_OPS']='lab'
os.environ['PYSPARK_PYTHON']='python'
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [2]:
import findspark
#findspark.init("C:/Users/321ni/spark-2.4.3-bin-hadoop2.7/")
findspark.find()

'C:\\Users\\321ni\\spark-3.5.0-bin-hadoop3'

In [3]:
spark = SparkSession.builder.master("local[*]").config("spark.driver.memory", "4g").appName("sparkan").getOrCreate()

In [4]:
mvcdata2 = spark.read.format('csv').options(header='true',inferschema='true').load("vehicle.csv")
#mvcdata2.show()

In [5]:
mvcdata2.show()

+---------+------------+----------+-------------------+--------------------+------------------+--------------------+--------------+-------------+------------+----------------+-----------------+----------+---------------------+---------------------------+--------------------+--------------------+--------------------+--------------------+------------------+----------------+----------------------+---------------------------+---------------------+---------------------+
|UNIQUE_ID|COLLISION_ID|CRASH_DATE|         CRASH_TIME|          VEHICLE_ID|STATE_REGISTRATION|        VEHICLE_TYPE|  VEHICLE_MAKE|VEHICLE_MODEL|VEHICLE_YEAR|TRAVEL_DIRECTION|VEHICLE_OCCUPANTS|DRIVER_SEX|DRIVER_LICENSE_STATUS|DRIVER_LICENSE_JURISDICTION|           PRE_CRASH|     POINT_OF_IMPACT|      VEHICLE_DAMAGE|    VEHICLE_DAMAGE_1|  VEHICLE_DAMAGE_2|VEHICLE_DAMAGE_3|PUBLIC_PROPERTY_DAMAGE|PUBLIC_PROPERTY_DAMAGE_TYPE|CONTRIBUTING_FACTOR_1|CONTRIBUTING_FACTOR_2|
+---------+------------+----------+-------------------+--------------------+------------------+--------------------+--------------+-------------+------------+----------------+-----------------+----------+---------------------+---------------------------+--------------------+--------------------+--------------------+--------------------+------------------+----------------+----------------------+---------------------------+---------------------+---------------------+
| 10385780|      100201|09/07/2012|2023-12-09 09:03:00|                   1|                NY|   PASSENGER VEHICLE|          NULL|         NULL|        NULL|            NULL|             NULL|      NULL|                 NULL|                       NULL|                NULL|                NULL|                NULL|                NULL|              NULL|            NULL|                  NULL|                       NULL|          Unspecified|                 NULL|
| 19140702|     4213082|09/23/2019|2023-12-09 08:15:00|0553ab4d-9500-4cb...|                NY|Station Wagon/Spo...| TOYT -CAR/SUV|         NULL|        2002|           North|                1|         M|             Licensed|                         NY|Going Straight Ahead|   Left Front Bumper|Left Front Quarte...|                NULL|              NULL|            NULL|                     N|                       NULL| Driver Inattentio...|          Unspecified|
| 14887647|     3307608|10/02/2015|2023-12-09 17:18:00|                   2|                NY|                TAXI|          NULL|         NULL|        NULL|            NULL|             NULL|      NULL|                 NULL|                       NULL|Going Straight Ahead|                NULL|                NULL|                NULL|              NULL|            NULL|                  NULL|                       NULL| Driver Inattentio...|                 NULL|
| 14889754|     3308693|10/04/2015|2023-12-09 20:34:00|                   1|                NY|   PASSENGER VEHICLE|          NULL|         NULL|        NULL|            NULL|             NULL|      NULL|                 NULL|                       NULL|              Parked|                NULL|                NULL|                NULL|              NULL|            NULL|                  NULL|                       NULL|          Unspecified|                 NULL|
| 14400270|      297666|04/25/2013|2023-12-09 21:15:00|                   1|                NY|   PASSENGER VEHICLE|          NULL|         NULL|        NULL|            NULL|             NULL|      NULL|                 NULL|                       NULL|                NULL|                NULL|                NULL|                NULL|              NULL|            NULL|                  NULL|                       NULL|      Other Vehicular|                 NULL|
| 17044639|     3434155|05/02/2016|2023-12-09 17:35:00|              219456|                NY|          4 dr sedan| MERZ -CAR/SUV|         NULL|        2015|            East|                2|         M|             Licensed|                         FL|             Merging|  Right Front Bumper|  Right Front Bumper|Right Front Quart...|              NULL|            NULL|                     N|                       NULL| Driver Inattentio...| Unsafe Lane Changing|
| 19138701|     4229067|10/24/2019|2023-12-09 13:15:00|c53b43d9-419a-4ab...|                NY|                 Bus|FRHT-TRUCK/BUS|         NULL|        2006|            East|               13|         M|             Licensed|                         NY|              Parked|Left Front Quarte...|Left Front Quarte...|                NULL|              NULL|            NULL|                     N|                       NULL|          Unspecified|          Unspecified|
| 17303317|     3503027|08/18/2016|2023-12-09 12:39:00|              672828|                NY|Station Wagon/Spo...| FORD -CAR/SUV|         NULL|        2005|       Southwest|                2|         F|             Licensed|                         NY|Going Straight Ahead|    Center Front End|    Center Front End|           No Damage|         No Damage|       No Damage|                     N|                       NULL| Driver Inattentio...|          Unspecified|
| 12254536|      196425|07/16/2013|2023-12-09 11:20:00|                   1|                NY|   PASSENGER VEHICLE|          NULL|         NULL|        NULL|            NULL|             NULL|      NULL|                 NULL|                       NULL|                NULL|                NULL|                NULL|                NULL|              NULL|            NULL|                  NULL|                       NULL|          Unspecified|                 NULL|
| 11804847|     2975897|11/26/2012|2023-12-09 18:12:00|                   2|                NY|   PASSENGER VEHICLE|          NULL|         NULL|        NULL|            NULL|             NULL|      NULL|                 NULL|                       NULL|                NULL|                NULL|                NULL|                NULL|              NULL|            NULL|                  NULL|                       NULL| Driver Inattentio...|                 NULL|
| 17285715|     3487936|07/22/2016|2023-12-09 15:40:00|              554272|                NY|         Convertible| VOLK -CAR/SUV|         NULL|        2013|           South|                1|         M|             Licensed|                         NY|  Stopped in Traffic|   Right Rear Bumper|   Right Rear Bumper|     Center Back End|  Left Rear Bumper|            NULL|                     N|                       NULL|          Unspecified|          Unspecified|
| 14809587|     3268858|08/01/2015|2023-12-09 08:17:00|                   2|                NJ|   PASSENGER VEHICLE|          NULL|         NULL|        NULL|            NULL|             NULL|      NULL|                 NULL|                       NULL|Going Straight Ahead|                NULL|                NULL|                NULL|              NULL|            NULL|                  NULL|                       NULL| Passenger Distrac...|                 NULL|
| 17307366|     3499697|08/13/2016|2023-12-09 21:05:00|              650962|                NY|               Sedan| NISS -CAR/SUV|         NULL|        2015|            West|                2|         F|             Licensed|                         NY|Going Straight Ahead|     Left Side Doors|     Left Side Doors|Left Rear Quarter...|              NULL|            NULL|                     N|                       NULL|          Unspecified|          Unspecified|
| 19140791|     4229563|10/21/2019|2023-12-09 17:55:00|86a294b4-6672-4a7...|                PA|               Sedan|  BMW -CAR/SUV|         NULL|        2006|           North|                2|         F|             Licensed|                         PA|Going Straight Ahead|    Center Front End|  Right Front Bumper|Right Front Quart...|Right Front Bumper|            NULL|                     N|                       NULL|          Unspecified|          Unspecified|
| 19694316|     4322767|06/06/2020|2023-12-09 18:30:00|fdc195a7-8127-4c0...|              NULL|                Bike|          NULL|         NULL|        NULL|           South|                1|         M|             Licensed|                         NY|Going Straight Ahead|    Center Front End|           No Damage|           No Damage|         No Damage|       No Damage|                     N|                       NULL| Traffic Control D...|          Unspecified|
| 11912713|      176016|08/11/2012|2023-12-09 19:36:00|                   2|                NY|             BICYCLE|          NULL|         NULL|        NULL|            NULL|             NULL|      NULL|                 NULL|                       NULL|                NULL|                NULL|                NULL|                NULL|              NULL|            NULL|                  NULL|                       NULL|          Unspecified|                 NULL|
| 17401424|     3516125|09/08/2016|2023-12-09 14:40:00|              764668|                NY|Station Wagon/Spo...| LINC -CAR/SUV|         NULL|        2015|            West|                1|         M|             Licensed|                         NY|  Stopped in Traffic|Right Rear Quarte...|Right Rear Quarte...|   Right Rear Bumper|         No Damage|       No Damage|                     N|                       NULL|          Unspecified|          Unspecified|
|  9879462|       79561|04/09/2013|2023-12-09 15:10:00|                   1|                NY|   PASSENGER VEHICLE|          NULL|         NULL|        NULL|            NULL|             NULL|      NULL|                 NULL|                       NULL|                NULL|                NULL|                NULL|                NULL|              NULL|            NULL|                  NULL|                       NULL|          Unspecified|                 NULL|
| 16952374|     3412270|04/01/2016|2023-12-09 15:46:00|               87497|                NY|Station Wagon/Spo...| TOYT -CAR/SUV|     TOYT 4RN|        2015|           South|                1|         M|                 NULL|                       NULL|             Passing|Right Front Quart...|           No Damage|           No Damage|         No Damage|       No Damage|                     N|                       NULL| Unsafe Lane Changing| Traffic Control D...|
| 19140656|     4229538|10/24/2019|2023-12-09 17:30:00|70e5262a-bd27-48a...|                NY|Station Wagon/Spo...| JEEP -CAR/SUV|         NULL|        2018|           North|                3|         F|             Licensed|                         NY|Going Straight Ahead|Left Rear Quarter...|Left Rear Quarter...|                NULL|              NULL|            NULL|                     N|                       NULL|          Unspecified|          Unspecified|
+---------+------------+----------+-------------------+--------------------+------------------+--------------------+--------------+-------------+------------+----------------+-----------------+----------+---------------------+---------------------------+--------------------+--------------------+--------------------+--------------------+------------------+----------------+----------------------+---------------------------+---------------------+---------------------+
only showing top 20 rows

In [6]:
mvcdata2.createOrReplaceTempView("vData")

In [7]:
mvcdata2.count()

3704406

## Grouping Vehicles as Large, Medium and Small

In [8]:
def vehicle_classifier(row):
    
    formatted_row = ','.join([key if type(key)==str else str(key) for key in row])
    
    if "bus" in formatted_row.lower() or "truck" in formatted_row.lower() or "freig" in formatted_row.lower() \
    or "ceme" in formatted_row.lower() or "fire" in formatted_row.lower() or "000" == formatted_row.lower()\
    or "concrete mixer" in formatted_row.lower() or "com" in formatted_row.lower() or "crane" in formatted_row.lower()\
    or "frieg" in formatted_row.lower() or "fdny" in formatted_row.lower() or "fedex" in formatted_row.lower()\
    or "dump" in formatted_row.lower() or "deli" in formatted_row.lower() or "exca" in formatted_row.lower()\
    or "flat" in formatted_row.lower() or "gar" in formatted_row.lower() or "lift boom" in formatted_row.lower()\
    or "mini schoo" in formatted_row.lower() or "omnib" in formatted_row.lower() or "power" in formatted_row.lower()\
    or "ic corporation" in formatted_row.lower() or "schoo" in formatted_row.lower() or "r/v" in formatted_row.lower()or\
    "rv" in formatted_row.lower() or "multi-wh" in formatted_row.lower() or "mta" in formatted_row.lower() or "mack" in\
    formatted_row.lower() or "sanit" in formatted_row.lower() or ("snow" in formatted_row.lower() and "snowm" \
    not in formatted_row.lower()) or "tank" in formatted_row.lower() or "lunch wagon" in formatted_row.lower()\
    or "trail" in formatted_row.lower() or "const" in formatted_row.lower() or "cat" in formatted_row.lower() or\
    "trlr" in formatted_row.lower() or "winne" in formatted_row.lower():
        return row + Row(VEHICLE_GROUP = "Heavy")
    elif "van" in formatted_row.lower() or "fleet" in formatted_row.lower() or "usps" in formatted_row.lower() \
    or "am" in formatted_row.lower() or ('4' in formatted_row.lower() and 'wh' in formatted_row.lower())\
    or "chassis" in formatted_row.lower() or "carry all" in formatted_row.lower() or "limo" in formatted_row.lower() or\
    "miniv" in formatted_row.lower() or "open body" in formatted_row.lower() or "pick" in formatted_row.lower() or\
    "pk" in formatted_row.lower() or "post" in formatted_row.lower() or "courier" in formatted_row.lower() or \
    "mail" in formatted_row.lower() or ("nypd" in formatted_row.lower() and "tow" in formatted_row.lower()) \
    or "sub" in formatted_row.lower() or "stak" in formatted_row.lower() or "stree" in formatted_row.lower() or "sw"\
    in formatted_row.lower() or "tow" in formatted_row.lower() or "trac" in formatted_row.lower() or "sprin" in \
    formatted_row.lower() or "luv" in formatted_row.lower() or "gmc" in formatted_row.lower() or "lives"\
    in formatted_row.lower() or "almbulance" in formatted_row.lower() or "uti" in formatted_row.lower() or "yello"\
    in formatted_row.lower() or " yw po" == formatted_row.lower() or\
    ("u" in formatted_row.lower() and "ha" in formatted_row.lower()) or "ups" in formatted_row.lower() or \
    "utl" in formatted_row.lower():
        return row + Row(VEHICLE_GROUP = "Medium")
    elif "sed" in formatted_row.lower() or "car" in formatted_row.lower() or "0" == formatted_row.lower() or \
    ('3' in formatted_row.lower() and 'wh' in formatted_row.lower()) or "convertible" in formatted_row.lower()\
    or "delv" in formatted_row.lower() or "mini" in formatted_row.lower() or "pas" in formatted_row.lower()\
    or "pc" in formatted_row.lower() or ("3" in formatted_row.lower() and "doo" in formatted_row.lower())\
    or ("2" in formatted_row.lower() and "doo" in formatted_row.lower()) or ("nypd" in formatted_row.lower()\
    and "tow" not in formatted_row.lower()) or "station wa" in formatted_row.lower() or "suv" in formatted_row.lower()\
    or "taxi" in formatted_row.lower() or "wagon" in formatted_row.lower():
        return row + Row(VEHICLE_GROUP = "Light")
    elif "bicycle" in formatted_row.lower() or "bik" in formatted_row.lower() or "mope" in formatted_row.lower()\
    or "dirt" in formatted_row.lower() or "sco" in formatted_row.lower() or "fork" in formatted_row.lower() or \
    "dolly" in formatted_row.lower() or "motor" in formatted_row.lower() or \
    ("mo" in formatted_row.lower() and "p" in formatted_row.lower()) or ("2" in formatted_row.lower() and "wh" in\
    formatted_row.lower()) or "pallet" in formatted_row.lower() or "pedicab" in formatted_row.lower():
        return row + Row(VEHICLE_GROUP = "Small")
    elif "n/a" in formatted_row.lower() or "na" in formatted_row.lower() or "other" in formatted_row.lower() or\
    "unk" in formatted_row.lower() or "ukn" in formatted_row.lower():
        return row + Row(VEHICLE_GROUP = "Other")
    else:
        return row + Row(VEHICLE_GROUP = "Unspecified")

In [9]:
vehicle_types_sql = "SELECT COLLISION_ID,VEHICLE_TYPE,VEHICLE_MAKE FROM vData WHERE VEHICLE_TYPE NOT LIKE 'NULL' OR VEHICLE_MAKE NOT LIKE 'NULL' ORDER BY COLLISION_ID"

In [10]:
vehicle_types_df = spark.sql(vehicle_types_sql)

In [11]:
vehicle_types_df.count()

3541338

In [12]:
vehicle_type_rdd = vehicle_types_df.rdd.map(vehicle_classifier).filter(lambda x: x is not None)

schema = StructType([
    StructField("COLLISION_ID", IntegerType(), True),
    StructField("VEHICLE_TYPE", StringType(), True),
    StructField("VEHICLE_MAKE", StringType(), True),
    StructField("VEHICLE_GROUP", StringType(), True)
])
vehicle_type_df_final = spark.createDataFrame(vehicle_type_rdd,schema=schema)

In [13]:
vehicle_type_df_final.show(150)

+------------+--------------------+------------+-------------+
|COLLISION_ID|        VEHICLE_TYPE|VEHICLE_MAKE|VEHICLE_GROUP|
+------------+--------------------+------------+-------------+
|          22|                 VAN|        NULL|       Medium|
|          22|SPORT UTILITY / S...|        NULL|       Medium|
|          23|                TAXI|        NULL|        Light|
|          23|                TAXI|        NULL|        Light|
|          24|                 BUS|        NULL|        Heavy|
|          24|   PASSENGER VEHICLE|        NULL|        Light|
|          25|   PASSENGER VEHICLE|        NULL|        Light|
|          25|   PASSENGER VEHICLE|        NULL|        Light|
|          26|   PASSENGER VEHICLE|        NULL|        Light|
|          26|   PASSENGER VEHICLE|        NULL|        Light|
|          27|                TAXI|        NULL|        Light|
|          27|   PASSENGER VEHICLE|        NULL|        Light|
|          28|                TAXI|        NULL|        Light|
|          28|                TAXI|        NULL|        Light|
|          29|   PASSENGER VEHICLE|        NULL|        Light|
|          29|                TAXI|        NULL|        Light|
|          30|                TAXI|        NULL|        Light|
|          30|                 VAN|        NULL|       Medium|
|          31|   PASSENGER VEHICLE|        NULL|        Light|
|          31|             UNKNOWN|        NULL|        Other|
|          32|             UNKNOWN|        NULL|        Other|
|          32|SPORT UTILITY / S...|        NULL|       Medium|
|          33|SMALL COM VEH(4 T...|        NULL|        Heavy|
|          33|             UNKNOWN|        NULL|        Other|
|          36|   PASSENGER VEHICLE|        NULL|        Light|
|          36|SPORT UTILITY / S...|        NULL|       Medium|
|          37|             BICYCLE|        NULL|        Small|
|          37|   PASSENGER VEHICLE|        NULL|        Light|
|          38|       PICK-UP TRUCK|        NULL|        Heavy|
|          38|   PASSENGER VEHICLE|        NULL|        Light|
|          39|             BICYCLE|        NULL|        Small|
|          39|SPORT UTILITY / S...|        NULL|       Medium|
|          40|                 VAN|        NULL|       Medium|
|          40|             BICYCLE|        NULL|        Small|
|          41|   PASSENGER VEHICLE|        NULL|        Light|
|          41|               OTHER|        NULL|        Other|
|          42|   PASSENGER VEHICLE|        NULL|        Light|
|          42|SMALL COM VEH(4 T...|        NULL|        Heavy|
|          43|               OTHER|        NULL|        Other|
|          43|   PASSENGER VEHICLE|        NULL|        Light|
|          44|   PASSENGER VEHICLE|        NULL|        Light|
|          45|SPORT UTILITY / S...|        NULL|       Medium|
|          45|   PASSENGER VEHICLE|        NULL|        Light|
|          48|   PASSENGER VEHICLE|        NULL|        Light|
|          48|               OTHER|        NULL|        Other|
|          49|   PASSENGER VEHICLE|        NULL|        Light|
|          49|   PASSENGER VEHICLE|        NULL|        Light|
|          50|SPORT UTILITY / S...|        NULL|       Medium|
|          50|SPORT UTILITY / S...|        NULL|       Medium|
|          50|   PASSENGER VEHICLE|        NULL|        Light|
|          51|      LIVERY VEHICLE|        NULL|  Unspecified|
|          51|SMALL COM VEH(4 T...|        NULL|        Heavy|
|          52|                TAXI|        NULL|        Light|
|          52|             BICYCLE|        NULL|        Small|
|          53|       PICK-UP TRUCK|        NULL|        Heavy|
|          53|                 BUS|        NULL|        Heavy|
|          54|SMALL COM VEH(4 T...|        NULL|        Heavy|
|          54|SMALL COM VEH(4 T...|        NULL|        Heavy|
|          55|   PASSENGER VEHICLE|        NULL|        Light|
|          55|SPORT UTILITY / S...|        NULL|       Medium|
|          55|   PASSENGER VEHICLE|        NULL|        Light|
|          56|             UNKNOWN|        NULL|        Other|
|          56|SPORT UTILITY / S...|        NULL|       Medium|
|          57|   PASSENGER VEHICLE|        NULL|        Light|
|          57|   PASSENGER VEHICLE|        NULL|        Light|
|          58|SPORT UTILITY / S...|        NULL|       Medium|
|          58|                 VAN|        NULL|       Medium|
|          59|   PASSENGER VEHICLE|        NULL|        Light|
|          59|   PASSENGER VEHICLE|        NULL|        Light|
|          60|   PASSENGER VEHICLE|        NULL|        Light|
|          60|   PASSENGER VEHICLE|        NULL|        Light|
|          61|   PASSENGER VEHICLE|        NULL|        Light|
|          61|SPORT UTILITY / S...|        NULL|       Medium|
|          62|          MOTORCYCLE|        NULL|        Small|
|          62|SPORT UTILITY / S...|        NULL|       Medium|
|          63|                TAXI|        NULL|        Light|
|          63|SPORT UTILITY / S...|        NULL|       Medium|
|          64|      LIVERY VEHICLE|        NULL|  Unspecified|
|          64|      LIVERY VEHICLE|        NULL|  Unspecified|
|          65|SMALL COM VEH(4 T...|        NULL|        Heavy|
|          65|SPORT UTILITY / S...|        NULL|       Medium|
|          66|                 VAN|        NULL|       Medium|
|          66|LARGE COM VEH(6 O...|        NULL|        Heavy|
|          67|                 VAN|        NULL|       Medium|
|          67|SPORT UTILITY / S...|        NULL|       Medium|
|          68|   PASSENGER VEHICLE|        NULL|        Light|
|          68|   PASSENGER VEHICLE|        NULL|        Light|
|          69|   PASSENGER VEHICLE|        NULL|        Light|
|          69|SPORT UTILITY / S...|        NULL|       Medium|
|          70|      LIVERY VEHICLE|        NULL|  Unspecified|
|          70|SPORT UTILITY / S...|        NULL|       Medium|
|          71|             UNKNOWN|        NULL|        Other|
|          71|   PASSENGER VEHICLE|        NULL|        Light|
|          72|   PASSENGER VEHICLE|        NULL|        Light|
|          72|                 BUS|        NULL|        Heavy|
|          73|             UNKNOWN|        NULL|        Other|
|          73|SPORT UTILITY / S...|        NULL|       Medium|
|          74|             UNKNOWN|        NULL|        Other|
|          74|   PASSENGER VEHICLE|        NULL|        Light|
|          75|   PASSENGER VEHICLE|        NULL|        Light|
|          75|SPORT UTILITY / S...|        NULL|       Medium|
|          76|                TAXI|        NULL|        Light|
|          76|SPORT UTILITY / S...|        NULL|       Medium|
|          77|   PASSENGER VEHICLE|        NULL|        Light|
|          77|       PICK-UP TRUCK|        NULL|        Heavy|
|          78|SMALL COM VEH(4 T...|        NULL|        Heavy|
|          79|SPORT UTILITY / S...|        NULL|       Medium|
|          80|SPORT UTILITY / S...|        NULL|       Medium|
|          80|SPORT UTILITY / S...|        NULL|       Medium|
|          81|   PASSENGER VEHICLE|        NULL|        Light|
|          81|   PASSENGER VEHICLE|        NULL|        Light|
|          82|   PASSENGER VEHICLE|        NULL|        Light|
|          82|   PASSENGER VEHICLE|        NULL|        Light|
|          83|   PASSENGER VEHICLE|        NULL|        Light|
|          83|   PASSENGER VEHICLE|        NULL|        Light|
|          84|   PASSENGER VEHICLE|        NULL|        Light|
|          84|   PASSENGER VEHICLE|        NULL|        Light|
|          85|SPORT UTILITY / S...|        NULL|       Medium|
|          85|   PASSENGER VEHICLE|        NULL|        Light|
|          86|SMALL COM VEH(4 T...|        NULL|        Heavy|
|          86|                 BUS|        NULL|        Heavy|
|          87|SPORT UTILITY / S...|        NULL|       Medium|
|          87|   PASSENGER VEHICLE|        NULL|        Light|
|          88|SPORT UTILITY / S...|        NULL|       Medium|
|          88|                TAXI|        NULL|        Light|
|          89|SPORT UTILITY / S...|        NULL|       Medium|
|          89|                TAXI|        NULL|        Light|
|          90|SPORT UTILITY / S...|        NULL|       Medium|
|          90|   PASSENGER VEHICLE|        NULL|        Light|
|          91|SPORT UTILITY / S...|        NULL|       Medium|
|          91|SPORT UTILITY / S...|        NULL|       Medium|
|          92|                 BUS|        NULL|        Heavy|
|          92|   PASSENGER VEHICLE|        NULL|        Light|
|          93|   PASSENGER VEHICLE|        NULL|        Light|
|          93|             UNKNOWN|        NULL|        Other|
|          94|      LIVERY VEHICLE|        NULL|  Unspecified|
|          94|      LIVERY VEHICLE|        NULL|  Unspecified|
|          95|   PASSENGER VEHICLE|        NULL|        Light|
|          95|             UNKNOWN|        NULL|        Other|
|          96|   PASSENGER VEHICLE|        NULL|        Light|
|          96|                 BUS|        NULL|        Heavy|
|          97|SMALL COM VEH(4 T...|        NULL|        Heavy|
|          97|SPORT UTILITY / S...|        NULL|       Medium|
|          98|SPORT UTILITY / S...|        NULL|       Medium|
|          98|LARGE COM VEH(6 O...|        NULL|        Heavy|
|          99|                 BUS|        NULL|        Heavy|
|          99|      LIVERY VEHICLE|        NULL|  Unspecified|
|         100|   PASSENGER VEHICLE|        NULL|        Light|
|         100|   PASSENGER VEHICLE|        NULL|        Light|
|         101|   PASSENGER VEHICLE|        NULL|        Light|
+------------+--------------------+------------+-------------+
only showing top 150 rows

In [14]:
vehicle_type_df_final = vehicle_type_df_final.where(vehicle_type_df_final["VEHICLE_GROUP"] != "Unspecified")

In [15]:
vehicle_type_df_final.createOrReplaceTempView("vcData")

In [16]:
vehicle_collision_type_sql = """
SELECT
  SUM(CASE UPPER(VEHICLE_GROUP) WHEN 'SMALL' THEN 1 ELSE 0 END) as small_count,
  SUM(CASE UPPER(VEHICLE_GROUP) WHEN 'LIGHT' THEN 1 ELSE 0 END) as light_count,
  SUM(CASE UPPER(VEHICLE_GROUP) WHEN 'MEDIUM' THEN 1 ELSE 0 END) as medium_count,
  SUM(CASE UPPER(VEHICLE_GROUP) WHEN 'HEAVY' THEN 1 ELSE 0 END) as heavy_count,
  SUM(CASE UPPER(VEHICLE_GROUP) WHEN 'OTHER' THEN 1 ELSE 0 END) as other_count,
  COLLISION_ID
FROM vcData
GROUP BY COLLISION_ID;
"""

In [17]:
vehicle_collision_type_df = spark.sql(vehicle_collision_type_sql)

In [18]:
vehicle_collision_type_df.count()

1836239

In [19]:
vehicle_collision_type_df.show()

+-----------+-----------+------------+-----------+-----------+------------+
|small_count|light_count|medium_count|heavy_count|other_count|COLLISION_ID|
+-----------+-----------+------------+-----------+-----------+------------+
|          0|          0|           0|          1|          0|         148|
|          1|          1|           0|          0|          0|         463|
|          0|          1|           1|          0|          0|         471|
|          0|          1|           0|          1|          0|         496|
|          0|          2|           0|          0|          0|         833|
|          0|          1|           1|          0|          0|        1088|
|          0|          1|           0|          0|          0|        1238|
|          0|          0|           1|          0|          1|        1342|
|          0|          1|           1|          0|          0|        1580|
|          0|          0|           1|          0|          1|        1591|
|          0|          0|           1|          0|          1|        1645|
|          0|          1|           0|          1|          0|        1829|
|          0|          2|           0|          0|          0|        1959|
|          1|          0|           1|          0|          0|        2122|
|          0|          1|           0|          0|          0|        2142|
|          0|          2|           0|          0|          0|        2366|
|          0|          0|           2|          0|          0|        2659|
|          0|          0|           2|          0|          0|        2866|
|          0|          2|           0|          1|          0|        3175|
|          0|          1|           1|          0|          0|        3749|
+-----------+-----------+------------+-----------+-----------+------------+
only showing top 20 rows

In [20]:
def vehicle_collision_detector(row):
    s = ""
    st = ""
    if row[0]>0:
        s+="S"*row[0]
        st+="S"
    if row[1]>0:
        s+="L"*row[1]
        st+="L"
    if row[2]>0:
        s+="M"*row[2]
        st+="M"
    if row[3]>0:
        s+="H"*row[3]
        st+="H"
    if row[4]>0:
        s+="O"*row[4]
        st+="O"
    return row+Row(ACC_IN_BETWEEN = s)+Row(ACC_IN_BETWEEN_UNQ = st)

In [21]:
vehicle_collision_type_rdd = vehicle_collision_type_df.rdd.map(vehicle_collision_detector)
vehicle_collision_type_rdd.take(5)

[(0, 0, 0, 1, 0, 148, 'H', 'H'),
 (1, 1, 0, 0, 0, 463, 'SL', 'SL'),
 (0, 1, 1, 0, 0, 471, 'LM', 'LM'),
 (0, 1, 0, 1, 0, 496, 'LH', 'LH'),
 (0, 2, 0, 0, 0, 833, 'LL', 'L')]

In [22]:
schema = StructType([
    StructField("small_count", IntegerType(), True),
    StructField("light_count", IntegerType(), True),
    StructField("medium_count", IntegerType(), True),
    StructField("heavy_count", IntegerType(), True),
    StructField("other_count", IntegerType(), True),
    StructField("COLLISION_ID", IntegerType(), True),
    StructField("ACC_IN_BETWEEN", StringType(), True),
    StructField("ACC_IN_BETWEEN_UNQ", StringType(), True)
])
vehicle_collision_type_df_final = spark.createDataFrame(vehicle_collision_type_rdd,schema=schema)

In [23]:
vehicle_collision_type_df_final.show()

+-----------+-----------+------------+-----------+-----------+------------+--------------+------------------+
|small_count|light_count|medium_count|heavy_count|other_count|COLLISION_ID|ACC_IN_BETWEEN|ACC_IN_BETWEEN_UNQ|
+-----------+-----------+------------+-----------+-----------+------------+--------------+------------------+
|          0|          0|           0|          1|          0|         148|             H|                 H|
|          1|          1|           0|          0|          0|         463|            SL|                SL|
|          0|          1|           1|          0|          0|         471|            LM|                LM|
|          0|          1|           0|          1|          0|         496|            LH|                LH|
|          0|          2|           0|          0|          0|         833|            LL|                 L|
|          0|          1|           1|          0|          0|        1088|            LM|                LM|
|          0|          1|           0|          0|          0|        1238|             L|                 L|
|          0|          0|           1|          0|          1|        1342|            MO|                MO|
|          0|          1|           1|          0|          0|        1580|            LM|                LM|
|          0|          0|           1|          0|          1|        1591|            MO|                MO|
|          0|          0|           1|          0|          1|        1645|            MO|                MO|
|          0|          1|           0|          1|          0|        1829|            LH|                LH|
|          0|          2|           0|          0|          0|        1959|            LL|                 L|
|          1|          0|           1|          0|          0|        2122|            SM|                SM|
|          0|          1|           0|          0|          0|        2142|             L|                 L|
|          0|          2|           0|          0|          0|        2366|            LL|                 L|
|          0|          0|           2|          0|          0|        2659|            MM|                 M|
|          0|          0|           2|          0|          0|        2866|            MM|                 M|
|          0|          2|           0|          1|          0|        3175|           LLH|                LH|
|          0|          1|           1|          0|          0|        3749|            LM|                LM|
+-----------+-----------+------------+-----------+-----------+------------+--------------+------------------+
only showing top 20 rows

In [24]:
vehicle_collision_type_df_final = vehicle_collision_type_df_final.groupBy("ACC_IN_BETWEEN_UNQ").count().withColumnRenamed("count","GROUPS")

In [25]:
vehicle_collision_type_df_final.count()

28

In [26]:
vehicle_collision_type_df_final_part1 = vehicle_collision_type_df_final.orderBy("GROUPS").limit(19)
vehicle_collision_type_df_final_part2 = vehicle_collision_type_df_final.orderBy("GROUPS").\
subtract(vehicle_collision_type_df_final_part1).orderBy("GROUPS").limit(10)

In [27]:
vehicle_collision_type_df_final_part1.show()

+------------------+------+
|ACC_IN_BETWEEN_UNQ|GROUPS|
+------------------+------+
|               SHO|    10|
|              SLMO|    17|
|              SLMH|    24|
|               SMO|    38|
|              LMHO|    58|
|               SLO|    91|
|               SMH|   116|
|               MHO|   173|
|               SLH|   189|
|               LHO|   328|
|               SLM|   928|
|                SO|  2840|
|               LMO|  2907|
|                SH|  3880|
|                HO|  5461|
|               LMH|  7451|
|                 S| 11860|
|                 O| 18625|
|                SM| 22369|
+------------------+------+

In [28]:
vehicle_collision_type_df_final_part2.show()

+------------------+------+
|ACC_IN_BETWEEN_UNQ|GROUPS|
+------------------+------+
|                MO| 33492|
|                SL| 39199|
|                 H| 40299|
|                LO| 78748|
|                MH| 85437|
|                LH|152135|
|                 M|280592|
|                LM|449335|
|                 L|599637|
+------------------+------+

In [ ]:
vehicle_collision_type_df_final_pandas = vehicle_collision_type_df_final.toPandas()

fig = px.pie(vehicle_collision_type_df_final_pandas, names="ACC_IN_BETWEEN_UNQ", values="GROUPS", title="Collisions")
fig.update_layout(height=800, width=800)
fig.show()

In [ ]:
vehicle_collision_type_df_final_part1_pandas = vehicle_collision_type_df_final_part1.toPandas()
vehicle_collision_type_df_final_part2_pandas = vehicle_collision_type_df_final_part2.toPandas()



fig = px.pie(vehicle_collision_type_df_final_part1_pandas, names="ACC_IN_BETWEEN_UNQ", values="GROUPS", title="Collisions")
fig.update_layout(height=800, width=800)
fig.show()

fig2 = px.pie(vehicle_collision_type_df_final_part2_pandas, names="ACC_IN_BETWEEN_UNQ", values="GROUPS", title="Collisions")
fig2.update_layout(height=800, width=800)
fig2.show()

In [ ]:
vehicle_groups_df = vehicle_type_df_final.groupBy("VEHICLE_GROUP").count().withColumnRenamed("count","ACCIDENTS").orderBy("VEHICLE_GROUP")
vehicle_groups_df.show()

In [ ]:
import plotly.express as px

vehicle_group_pandas = vehicle_groups_df.toPandas()

# Plot the data using Plotly Express
fig = px.histogram(vehicle_group_pandas, x="VEHICLE_GROUP", y="ACCIDENTS", title="Vehicle Group vs Accidents")
fig.show()

# Vehicle Manafucturing Year classification

In [ ]:
yearly_vehicle_sql = "SELECT VEHICLE_YEAR, COUNT(*) AS YEARLY_COUNT FROM vData WHERE VEHICLE_YEAR NOT LIKE 'NULL' \
AND VEHICLE_YEAR > '1111' AND VEHICLE_YEAR < '2025'\
GROUP BY VEHICLE_YEAR ORDER BY VEHICLE_YEAR"

In [ ]:
yearly_vehicle_df = spark.sql(yearly_vehicle_sql)

In [ ]:
yearly_vehicle_df.show()

In [ ]:
vehicle_year_pandas = yearly_vehicle_df.toPandas()

# Plot the data using Plotly Express
fig = px.line(vehicle_year_pandas, x="VEHICLE_YEAR", y="YEARLY_COUNT", title="Vehicle Year vs Accidents")
fig.show()

# Contributing Factor Analysis of Unlicensed Drivers

In [ ]:
dl_status_sql = """
    SELECT CONTRIBUTING_FACTOR_1, COUNT(*) AS ACCIDENTS
    FROM (
    SELECT CONTRIBUTING_FACTOR_1, DRIVER_LICENSE_STATUS FROM vData WHERE DRIVER_LICENSE_STATUS LIKE 'Unlicensed'
    )
    WHERE CONTRIBUTING_FACTOR_1 NOT LIKE 'Unspecified'
    GROUP BY CONTRIBUTING_FACTOR_1
    ORDER BY CONTRIBUTING_FACTOR_1;
"""

In [ ]:
dl_status_df = spark.sql(dl_status_sql).na.drop()
dl_status_df.show(150)

In [ ]:
dl_status_pandas = dl_status_df.toPandas()

# Plot the data using Plotly Express
fig = px.pie(dl_status_pandas, names="CONTRIBUTING_FACTOR_1", values="ACCIDENTS", title="Contributing Factors")
fig.update_layout(height=1000, width=1000)
fig.show()